current-workflow.json
{"createdAt":"2025-08-06T22:35:56.457Z","updatedAt":"2025-08-06T23:59:17.000Z","id":"8fRjPcH3dc54VPPX","name":"hartran-linkedin-article","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger-manual","name":"🚀 Déclencheur Manuel","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[250,300]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"507bd4507b644b78b44d4ceeb809f1e0","mode":"id"},"filterType":"manual","conditions":{"conditions":[{"key":"Statut","condition":"equals","value":"Non traité"}]},"sort":{"sortValue":[{"key":"Priorité","type":"select","direction":"descending"}]},"limit":1,"options":{}},"id":"notion-get-ideas","name":"📥 Récupérer Idée Non Traitée","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[450,300]},{"parameters":{"promptType":"define","text":"=Effectue une recherche approfondie sur le sujet suivant pour un article LinkedIn professionnel:\n\nTitre: {{ $json.properties['Titre'].title[0].plain_text }}\n\nContexte et sources: {{ $json.properties['Contexte et sources'].rich_text[0].plain_text }}\n\nRecherche les dernières actualités, statistiques, études de cas, et innovations sur ce sujet. Fournis des données concrètes et vérifiables.","options":{"systemMessage":"Tu es un expert en recherche d'informations sur les sujets de web analyse et data analyse. Tu dois effectuer une recherche approfondie et fournir des informations actuelles, des statistiques, des tendances et des exemples concrets. Utilise tes capacités de recherche web pour trouver les informations les plus récentes et pertinentes."}},"id":"perplexity-agent","name":"🔍 Agent Recherche Perplexity","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[650,300]},{"parameters":{"model":"perplexity/sonar-pro","options":{}},"id":"perplexity-model","name":"Perplexity Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[650,500]},{"parameters":{"promptType":"define","text":"=Rédige un article LinkedIn professionnel basé sur les informations suivantes:\n\nSujet: {{ $('📥 Récupérer Idée Non Traitée').item.json.properties['Titre'].title[0].plain_text }}\n\nNotes personnelles: {{ $('📥 Récupérer Idée Non Traitée').item.json.properties['Notes personnelles'].rich_text[0]?.plain_text || 'Aucune note spécifique' }}\n\nQuestion à adresser: {{ $('📥 Récupérer Idée Non Traitée').item.json.properties['Question à adresser'].rich_text[0]?.plain_text || 'Aucune question spécifique' }}\n\nRecherche effectuée:\n{{ $json.output }}\n\nConsignes:\n- Article de 800-1200 mots\n- Structure avec une accroche forte\n- Développement avec exemples concrets\n- Insights pratiques et actionnables\n- Conclusion avec appel à l'action\n- Ton professionnel mais accessible\n- Intègre l'angle défini dans les notes personnelles et questions si fourni","options":{"systemMessage":"Tu es un expert en rédaction d'articles LinkedIn professionnels sur des sujets de web analyse et data analyse. Tu rédiges des articles engageants avec une structure claire et des insights pratiques. Tu adaptes ton angle éditorial en fonction des notes personnelles et questions fournies."}},"id":"claude-agent","name":"✍️ Agent Rédaction Claude","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[850,300]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{}},"id":"claude-model","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[850,500]},{"parameters":{"promptType":"define","text":"=Génère exactement 10 hashtags pertinents pour cet article LinkedIn:\n\n{{ $json.output }}\n\nRetourne uniquement les hashtags séparés par des espaces, sans numérotation ni autre texte. Mélange hashtags populaires et spécialisés dans le domaine de l'analytics et du data.","options":{"systemMessage":"Tu es un expert en marketing LinkedIn. Tu génères des hashtags optimisés pour maximiser la visibilité des articles."}},"id":"openai-agent","name":"🏷️ Agent Hashtags GPT","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1050,300]},{"parameters":{"model":{"__rl":true,"value":"gpt-4","mode":"list"},"options":{}},"id":"openai-model","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1050,500]},{"parameters":{"resource":"databasePage","operation":"create","databaseId":{"__rl":true,"value":"9b915f4f6bae479f9326ff2cfdabadd3","mode":"id"},"title":"={{ $('📥 Récupérer Idée Non Traitée').item.json.properties['Titre'].title[0].plain_text }}","propertiesUi":{"propertyValues":[{"key":"Titre","title":"={{ $('📥 Récupérer Idée Non Traitée').item.json.properties['Titre'].title[0].plain_text }}"},{"key":"Statut","select":"Publié"},{"key":"Date de génération","date":"={{ $now }}"},{"key":"Idée source","relationValue":["{{ $('📥 Récupérer Idée Non Traitée').item.json.id }}"]},{"key":"Hashtags","textValue":"={{ $json.output }}"}]},"blockUi":{"blockValues":[{"type":"heading_1","textContent":"={{ $('📥 Récupérer Idée Non Traitée').item.json.properties['Titre'].title[0].plain_text }}"},{"type":"paragraph","textContent":"={{ $('✍️ Agent Rédaction Claude').item.json.output }}"},{"type":"divider"},{"type":"heading_3","textContent":"Hashtags"},{"type":"paragraph","textContent":"={{ $json.output }}"}]},"options":{}},"id":"notion-save-article","name":"💾 Sauvegarder Article","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1250,300]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('📥 Récupérer Idée Non Traitée').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Statut","select":"Traité"},{"key":"Date de traitement","date":"={{ $now }}"}]},"options":{}},"id":"notion-update-idea","name":"✅ Marquer Idée Traitée","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1450,300]}],"connections":{"🚀 Déclencheur Manuel":{"main":[[{"node":"📥 Récupérer Idée Non Traitée","type":"main","index":0}]]},"📥 Récupérer Idée Non Traitée":{"main":[[{"node":"🔍 Agent Recherche Perplexity","type":"main","index":0}]]},"🔍 Agent Recherche Perplexity":{"main":[[{"node":"✍️ Agent Rédaction Claude","type":"main","index":0}]]},"Perplexity Model":{"ai_languageModel":[[{"node":"🔍 Agent Recherche Perplexity","type":"ai_languageModel","index":0}]]},"✍️ Agent Rédaction Claude":{"main":[[{"node":"🏷️ Agent Hashtags GPT","type":"main","index":0}]]},"Claude Model":{"ai_languageModel":[[{"node":"✍️ Agent Rédaction Claude","type":"ai_languageModel","index":0}]]},"🏷️ Agent Hashtags GPT":{"main":[[{"node":"💾 Sauvegarder Article","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"🏷️ Agent Hashtags GPT","type":"ai_languageModel","index":0}]]},"💾 Sauvegarder Article":{"main":[[{"node":"✅ Marquer Idée Traitée","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"31883a52-34fd-47ff-94b8-3db2b1ecf7f0","triggerCount":0,"shared":[{"createdAt":"2025-08-06T22:35:56.460Z","updatedAt":"2025-08-06T22:35:56.460Z","role":"workflow:owner","workflowId":"8fRjPcH3dc54VPPX","projectId":"0j4qlo8b2kuy4cwi","project":{"createdAt":"2025-04-23T21:05:24.431Z","updatedAt":"2025-04-23T21:14:16.482Z","id":"0j4qlo8b2kuy4cwi","name":"Steve Blondel <sblondel@techift.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-23T21:05:24.431Z","updatedAt":"2025-04-23T21:05:24.431Z","role":"project:personalOwner","userId":"5c417574-027d-46d3-8455-c5c98e7435f5","projectId":"0j4qlo8b2kuy4cwi","user":{"createdAt":"2025-04-23T21:05:24.152Z","updatedAt":"2025-08-11T10:53:23.000Z","id":"5c417574-027d-46d3-8455-c5c98e7435f5","email":"sblondel@techift.com","firstName":"Steve","lastName":"Blondel","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-23T21:20:06.250Z","personalization_survey_n8n_version":"1.89.2"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-10","isPending":false}}]}}],"tags":[]}