original-workflow.json
{"createdAt":"2025-08-07T00:55:13.920Z","updatedAt":"2025-08-11T11:16:17.000Z","id":"xbcULjQQ8m4Yrhvx","name":"My workflow 5","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"5fbe5786-a54b-4acc-81d4-21053ff10dca","name":"🚀 Déclencheur Manuel","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"507bd4507b644b78b44d4ceeb809f1e0","mode":"id"},"limit":1,"filterType":"manual","options":{}},"id":"8571f14c-95ce-43bb-967d-f045eb850d07","name":"📥 Récupérer Idée Non Traitée","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[224,0],"credentials":{"notionApi":{"id":"aH0S5x4M973O80uj","name":"Notion LinkedIn"}}},{"parameters":{"promptType":"define","text":"=Effectue une recherche approfondie sur le sujet suivant pour un article LinkedIn professionnel:\n\nTitre: {{ $json.properties['Titre'].title[0].plain_text }}\n\nContexte et sources: {{ $json.properties['Contexte et sources'].rich_text[0].plain_text }}\n\nRecherche les dernières actualités, statistiques, études de cas, et innovations sur ce sujet. Fournis des données concrètes et vérifiables.","options":{"systemMessage":"Tu es un expert en recherche d'informations sur les sujets de web analyse et data analyse. Tu dois effectuer une recherche approfondie et fournir des informations actuelles, des statistiques, des tendances et des exemples concrets. Utilise tes capacités de recherche web pour trouver les informations les plus récentes et pertinentes."}},"id":"e43e9b77-999a-4f8f-8a34-a8ead0ee3718","name":"🔍 Agent Recherche Perplexity","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[448,0]},{"parameters":{"promptType":"define","text":"=Rédige un article LinkedIn professionnel basé sur les informations suivantes:\n\nSujet: {{ $('📥 Récupérer Idée Non Traitée').item.json.property_titre_id_e_principale }}\n\nNotes personnelles: {{ $('📥 Récupérer Idée Non Traitée').item.json.property_notes_personnelles }}\n\nQuestion à adresser: {{ $('📥 Récupérer Idée Non Traitée').item.json.property_questions_adresser }}\n\nRecherche effectuée:\n{{ $json.output }}\n\nConsignes:\n- Article de 800-1200 mots\n- Structure avec une accroche forte\n- Développement avec exemples concrets\n- Insights pratiques et actionnables\n- Conclusion avec appel à l'action\n- Ton professionnel mais accessible\n- Intègre l'angle défini dans les notes personnelles et questions si fourni","options":{"systemMessage":"Tu es un expert en rédaction d'articles LinkedIn professionnels sur des sujets de web analyse et data analyse. Tu rédiges des articles engageants avec une structure claire et des insights pratiques. Tu adaptes ton angle éditorial en fonction des notes personnelles et questions fournies."}},"id":"a065ad51-891c-40a4-8571-40441f462836","name":"✍️ Agent Rédaction Claude","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[800,0]},{"parameters":{"model":"claude-3-opus-20240229","options":{}},"id":"562c059f-c56d-48c4-8d21-84203fbe803b","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[880,224],"credentials":{"anthropicApi":{"id":"Ylmsz8Ymq9adIJs0","name":"Anthropic account"}}},{"parameters":{"promptType":"define","text":"=Génère exactement 10 hashtags pertinents pour cet article LinkedIn:\n\n{{ $json.output }}\n\nRetourne uniquement les hashtags séparés par des espaces, sans numérotation ni autre texte. Mélange hashtags populaires et spécialisés dans le domaine de l'analytics et du data.","options":{"systemMessage":"Tu es un expert en marketing LinkedIn. Tu génères des hashtags optimisés pour maximiser la visibilité des articles."}},"id":"40f211ab-9439-4dd1-8327-9cb487ccc955","name":"🏷️ Agent Hashtags GPT","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1152,0]},{"parameters":{"model":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"chatgpt-4o-latest"},"options":{}},"id":"e3d282e1-bb68-4ea0-9924-9f2b486ed759","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1232,224],"credentials":{"openAiApi":{"id":"W3z11iU8VRrweFEt","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=  Sauvegarde cet article dans la base de données Notion (ID: 9b915f4f6bae479f9326ff2cfdabadd3).\n\n  Titre de l'article: {{ $('📥 Récupérer Idée Non Traitée').item.json.property_titre_id_e_principale }}\n\n  Contenu de l'article: \n\n  Hashtags: {{ $input.item.json.output }}\n\n  Date de génération: {{ $now }}\n\n  ID de l'idée source: {{ $('notion-get-ideas').item.json.id }}\n\n  Utilise l'outil Notion pour créer une nouvelle page dans la base de données. Assure-toi de bien mapper:\n  - Le titre dans la propriété 'Titre'\n  - Le contenu dans le corps de la page\n  - Les hashtags dans la propriété correspondante si elle existe\n  - La date de génération\n  - La relation avec l'idée source\n\n  Réponds avec un message de confirmation une fois la page créée.","options":{"systemMessage":"Tu es un assistant qui gère la sauvegarde d'articles dans Notion. Tu dois créer une nouvelle page dans la base de données spécifiée avec toutes les informations fournies. Utilise l'API Notion ou les outils MCP Notion disponibles pour effectuer cette tâche."}},"id":"f020f432-09ec-4c02-9472-743b07f84923","name":"💾 Agent IA - Sauvegarder Article","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1504,0]},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $node['notion-get-ideas'].json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"Statut"},{"key":"Date de traitement","date":"={{ $now }}"}]},"options":{}},"id":"3a4650f7-1c0e-417e-834b-76a775d4151b","name":"✅ Marquer Idée Traitée","type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1856,0],"credentials":{"notionApi":{"id":"aH0S5x4M973O80uj","name":"Notion LinkedIn"}}},{"parameters":{"model":"perplexity/sonar-pro","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[528,224],"id":"6a4122f5-82de-454d-96ce-bee7d81577c7","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"xLdMbYh4lyLsgJJA","name":"OpenRouter account"}}},{"parameters":{"model":"claude-3-opus-20240229","options":{}},"id":"afee6f63-65fc-4fc0-98b1-4681c48332d8","name":"Claude Save Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1584,224],"credentials":{"anthropicApi":{"id":"Ylmsz8Ymq9adIJs0","name":"Anthropic account"}}}],"connections":{"🚀 Déclencheur Manuel":{"main":[[{"node":"📥 Récupérer Idée Non Traitée","type":"main","index":0}]]},"📥 Récupérer Idée Non Traitée":{"main":[[{"node":"🔍 Agent Recherche Perplexity","type":"main","index":0}]]},"🔍 Agent Recherche Perplexity":{"main":[[{"node":"✍️ Agent Rédaction Claude","type":"main","index":0}]]},"✍️ Agent Rédaction Claude":{"main":[[{"node":"🏷️ Agent Hashtags GPT","type":"main","index":0}]]},"Claude Model":{"ai_languageModel":[[{"node":"✍️ Agent Rédaction Claude","type":"ai_languageModel","index":0}]]},"🏷️ Agent Hashtags GPT":{"main":[[{"node":"💾 Agent IA - Sauvegarder Article","type":"main","index":0}]]},"Claude Save Model":{"ai_languageModel":[[{"node":"💾 Agent IA - Sauvegarder Article","type":"ai_languageModel","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"🏷️ Agent Hashtags GPT","type":"ai_languageModel","index":0}]]},"💾 Agent IA - Sauvegarder Article":{"main":[[{"node":"✅ Marquer Idée Traitée","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"🔍 Agent Recherche Perplexity","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2193878b-7b26-42bc-970e-e94b4ca64f43","triggerCount":0,"shared":[{"createdAt":"2025-08-07T00:55:13.923Z","updatedAt":"2025-08-07T00:55:13.923Z","role":"workflow:owner","workflowId":"xbcULjQQ8m4Yrhvx","projectId":"0j4qlo8b2kuy4cwi","project":{"createdAt":"2025-04-23T21:05:24.431Z","updatedAt":"2025-04-23T21:14:16.482Z","id":"0j4qlo8b2kuy4cwi","name":"Steve Blondel <sblondel@techift.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-23T21:05:24.431Z","updatedAt":"2025-04-23T21:05:24.431Z","role":"project:personalOwner","userId":"5c417574-027d-46d3-8455-c5c98e7435f5","projectId":"0j4qlo8b2kuy4cwi","user":{"createdAt":"2025-04-23T21:05:24.152Z","updatedAt":"2025-08-11T10:53:23.000Z","id":"5c417574-027d-46d3-8455-c5c98e7435f5","email":"sblondel@techift.com","firstName":"Steve","lastName":"Blondel","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-23T21:20:06.250Z","personalization_survey_n8n_version":"1.89.2"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-08-10","isPending":false}}]}}],"tags":[]}