workflow-corrected-simple.json
{
  "name": "LinkedIn Article Generator - Simplified",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "🚀 Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "507bd4507b644b78b44d4ceeb809f1e0",
          "mode": "id"
        },
        "filterType": "manual",
        "conditions": {
          "conditions": [
            {
              "key": "Statut",
              "condition": "equals",
              "value": "Non traité"
            }
          ]
        },
        "limit": 1,
        "options": {}
      },
      "id": "notion-get-ideas",
      "name": "📥 Récupérer Idée Non Traitée",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "9b915f4f6bae479f9326ff2cfdabadd3",
          "mode": "id"
        },
        "title": "={{ $json.properties['Titre'].title[0].plain_text }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Titre",
              "title": "={{ $json.properties['Titre'].title[0].plain_text }}"
            },
            {
              "key": "Date de génération",
              "date": "={{ $now }}"
            },
            {
              "key": "Idée source",
              "relationValue": ["{{ $json.id }}"]
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $json.properties['Titre'].title[0].plain_text }}"
            },
            {
              "type": "paragraph",
              "textContent": "Article généré automatiquement depuis l'idée : {{ $json.properties['Titre'].title[0].plain_text }}"
            },
            {
              "type": "divider"
            },
            {
              "type": "paragraph",
              "textContent": "Contexte : {{ $json.properties['Contexte et sources'].rich_text[0].plain_text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-save-article",
      "name": "💾 Sauvegarder Article TEST",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('📥 Récupérer Idée Non Traitée').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Statut",
              "select": "Traité"
            },
            {
              "key": "Date de traitement",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-update-idea",
      "name": "✅ Marquer Idée Traitée",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "🚀 Déclencheur Manuel": {
      "main": [[{"node": "📥 Récupérer Idée Non Traitée", "type": "main", "index": 0}]]
    },
    "📥 Récupérer Idée Non Traitée": {
      "main": [[{"node": "💾 Sauvegarder Article TEST", "type": "main", "index": 0}]]
    },
    "💾 Sauvegarder Article TEST": {
      "main": [[{"node": "✅ Marquer Idée Traitée", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}