workflow-agents-fixed.json
{
  "name": "LinkedIn Article Generator - AGENTS FIXED",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "🚀 Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "507bd4507b644b78b44d4ceeb809f1e0",
          "mode": "id"
        },
        "filterType": "manual",
        "conditions": {
          "conditions": [
            {
              "key": "Traité",
              "condition": "isNotChecked"
            }
          ]
        },
        "limit": 1,
        "options": {}
      },
      "id": "notion-get-ideas",
      "name": "📥 Récupérer Idée Non Traitée",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "title",
              "value": "={{ $json.properties?.['Titre/Idée principale']?.title?.[0]?.plain_text || 'Sans titre' }}",
              "type": "string"
            },
            {
              "id": "sources",
              "name": "sources",
              "value": "={{ $json.properties?.['Sources/URLs']?.rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "notes",
              "name": "notes",
              "value": "={{ $json.properties?.['Notes personnelles']?.rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "angle",
              "name": "angle",
              "value": "={{ $json.properties?.['Angle personnel']?.rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "questions",
              "name": "questions",
              "value": "={{ $json.properties?.['Questions à adresser']?.rich_text?.[0]?.plain_text || '' }}",
              "type": "string"
            },
            {
              "id": "ideaId",
              "name": "ideaId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-idea-data",
      "name": "📊 Extraire données idée",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Effectue une recherche approfondie sur le sujet suivant pour un article LinkedIn professionnel:\n\nTitre: {{ $json.title }}\n\nContexte: {{ $json.sources }}\n\nNotes: {{ $json.notes }}\n\nRecherche les dernières actualités, statistiques, études de cas et innovations sur ce sujet. Fournis au moins 5 statistiques concrètes et vérifiables, des exemples récents, et les tendances actuelles.\n\nFormat de réponse attendu:\n- Statistiques clés (avec sources)\n- Tendances actuelles\n- Exemples concrets\n- Innovations récentes",
        "options": {
          "systemMessage": "Tu es un expert en recherche d'informations. Fournis des informations actuelles, des statistiques précises avec leurs sources, et des exemples concrets datés de 2024-2025."
        }
      },
      "id": "perplexity-agent",
      "name": "🔍 Agent Perplexity - Recherche",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [850, 300]
    },
    {
      "parameters": {
        "model": "perplexity/sonar-pro",
        "options": {}
      },
      "id": "perplexity-model",
      "name": "Perplexity Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [850, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "research",
              "name": "research",
              "value": "={{ $json.output || 'Pas de recherche effectuée' }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('📊 Extraire données idée').item.json.title }}",
              "type": "string"
            },
            {
              "id": "notes",
              "name": "notes",
              "value": "={{ $('📊 Extraire données idée').item.json.notes }}",
              "type": "string"
            },
            {
              "id": "angle",
              "name": "angle",
              "value": "={{ $('📊 Extraire données idée').item.json.angle }}",
              "type": "string"
            },
            {
              "id": "questions",
              "name": "questions",
              "value": "={{ $('📊 Extraire données idée').item.json.questions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "capture-research",
      "name": "💾 Capturer recherche",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rédige un article LinkedIn professionnel de haute qualité basé sur les informations suivantes:\n\n**SUJET:** {{ $json.title }}\n\n**NOTES PERSONNELLES:** {{ $json.notes }}\n\n**ANGLE ÉDITORIAL:** {{ $json.angle }}\n\n**QUESTIONS À COUVRIR:** {{ $json.questions }}\n\n**RECHERCHE EFFECTUÉE:**\n{{ $json.research }}\n\n**CONSIGNES STRICTES:**\n1. Longueur: 800-1200 mots MINIMUM\n2. Structure obligatoire:\n   - Accroche percutante (question, statistique choc, ou anecdote)\n   - Introduction qui pose le contexte (100-150 mots)\n   - 3-4 sections avec sous-titres clairs\n   - Exemples concrets et chiffrés dans chaque section\n   - Conclusion avec appel à l'action clair\n3. Ton: Professionnel mais conversationnel, utilise le \"vous\" ou \"nous\"\n4. Inclure au moins 3 statistiques de la recherche\n5. Terminer par une question engageante pour les lecteurs\n\n**IMPORTANT:** Génère un article COMPLET et DÉTAILLÉ, pas un résumé. L'article doit être prêt à publier sur LinkedIn.\n\nRéponds UNIQUEMENT avec le texte de l'article, sans commentaires ni explications.",
        "options": {
          "systemMessage": "Tu es un expert en rédaction d'articles LinkedIn professionnels avec 10 ans d'expérience. Tu rédiges des articles engageants, informatifs et orientés valeur pour les professionnels. Tes articles génèrent toujours beaucoup d'engagement car ils apportent de vraies insights pratiques et actionnables. Tu utilises un ton professionnel mais accessible, avec des exemples concrets et des données précises."
        }
      },
      "id": "claude-agent",
      "name": "✍️ Agent Claude - Rédaction",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.7,
          "maxTokens": 2000
        }
      },
      "id": "claude-model",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "article",
              "name": "article",
              "value": "={{ $json.output || 'Article non généré' }}",
              "type": "string"
            },
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('📊 Extraire données idée').item.json.title }}",
              "type": "string"
            },
            {
              "id": "research",
              "name": "research",
              "value": "={{ $('💾 Capturer recherche').item.json.research }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "capture-article",
      "name": "💾 Capturer article",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Génère exactement 10 hashtags LinkedIn pertinents et populaires pour cet article. Les hashtags doivent être:\n- En français et/ou anglais selon la pertinence\n- Un mix de hashtags génériques (#Leadership) et spécifiques au sujet\n- Sans numérotation ni symboles supplémentaires\n- Optimisés pour la visibilité sur LinkedIn\n\nArticle:\n{{ $json.article }}\n\nRéponds UNIQUEMENT avec les 10 hashtags séparés par des espaces, rien d'autre.\n\nExemple de format attendu:\n#Innovation #TransformationDigitale #IA #Leadership #Tech #Futur #Management #Stratégie #Business #LinkedIn",
        "options": {
          "systemMessage": "Tu es un expert en marketing LinkedIn et en optimisation de hashtags. Tu connais parfaitement les hashtags tendances et ceux qui génèrent le plus d'engagement sur LinkedIn en 2025."
        }
      },
      "id": "gpt-agent",
      "name": "🏷️ Agent GPT - Hashtags",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "openai-model",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1650, 500]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title",
              "name": "title",
              "value": "={{ $('📊 Extraire données idée').item.json.title }}",
              "type": "string"
            },
            {
              "id": "articleContent",
              "name": "articleContent",
              "value": "={{ $('💾 Capturer article').item.json.article }}",
              "type": "string"
            },
            {
              "id": "hashtags",
              "name": "hashtags",
              "value": "={{ $json.output || '#LinkedIn #Article' }}",
              "type": "string"
            },
            {
              "id": "ideaId",
              "name": "ideaId",
              "value": "={{ $('📊 Extraire données idée').item.json.ideaId }}",
              "type": "string"
            },
            {
              "id": "postComplet",
              "name": "postComplet",
              "value": "={{ $('💾 Capturer article').item.json.article + '\\n\\n' + ($json.output || '#LinkedIn #Article') }}",
              "type": "string"
            },
            {
              "id": "statistics",
              "name": "statistics",
              "value": "={{ $('💾 Capturer recherche').item.json.research.match(/\\d+[%\\s]?[^\\s]*|\\d+\\s*(millions?|milliards?|thousands?|billions?)/gi)?.slice(0, 5)?.join(', ') || 'Voir article pour les données' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-final-data",
      "name": "📋 Préparer données finales",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"9b915f4f6bae479f9326ff2cfdabadd3\"\n  },\n  \"properties\": {\n    \"Titre\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.title }}\"\n          }\n        }\n      ]\n    },\n    \"Contenu article\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ ($json.articleContent).substring(0, 2000) }}\"\n          }\n        }\n      ]\n    },\n    \"Hashtags\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.hashtags }}\"\n          }\n        }\n      ]\n    },\n    \"Post LinkedIn complet\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ ($json.postComplet).substring(0, 2000) }}\"\n          }\n        }\n      ]\n    },\n    \"Public cible\": {\n      \"select\": {\n        \"name\": \"Professionnels et décideurs\"\n      }\n    },\n    \"Statistiques clés\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.statistics }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"children\": [\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_1\",\n      \"heading_1\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{ $json.title }}\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"divider\",\n      \"divider\": {}\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"📝 Article complet\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{ $json.articleContent }}\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"divider\",\n      \"divider\": {}\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"🏷️ Hashtags optimisés\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{ $json.hashtags }}\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"divider\",\n      \"divider\": {}\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"heading_2\",\n      \"heading_2\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"📊 Données clés utilisées\"\n            }\n          }\n        ]\n      }\n    },\n    {\n      \"object\": \"block\",\n      \"type\": \"paragraph\",\n      \"paragraph\": {\n        \"rich_text\": [\n          {\n            \"type\": \"text\",\n            \"text\": {\n              \"content\": \"{{ $json.statistics }}\"\n            }\n          }\n        ]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-notion-create",
      "name": "💾 Créer Article dans Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ `https://api.notion.com/v1/pages/${$('📥 Récupérer Idée Non Traitée').item.json.id}` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Traité\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "id": "http-notion-update",
      "name": "✅ Marquer Idée Traitée",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": "=✨ Article généré avec succès!\n\n📝 Titre: {{ $('📋 Préparer données finales').item.json.title }}\n📊 Longueur: {{ $('📋 Préparer données finales').item.json.articleContent.length }} caractères\n🏷️ Hashtags: {{ $('📋 Préparer données finales').item.json.hashtags }}\n✅ Idée marquée comme traitée\n🔗 URL: {{ $('💾 Créer Article dans Notion').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-message",
      "name": "✨ Message de succès",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2450, 300]
    }
  ],
  "connections": {
    "🚀 Déclencheur Manuel": {
      "main": [[{"node": "📥 Récupérer Idée Non Traitée", "type": "main", "index": 0}]]
    },
    "📥 Récupérer Idée Non Traitée": {
      "main": [[{"node": "📊 Extraire données idée", "type": "main", "index": 0}]]
    },
    "📊 Extraire données idée": {
      "main": [[{"node": "🔍 Agent Perplexity - Recherche", "type": "main", "index": 0}]]
    },
    "🔍 Agent Perplexity - Recherche": {
      "main": [[{"node": "💾 Capturer recherche", "type": "main", "index": 0}]]
    },
    "💾 Capturer recherche": {
      "main": [[{"node": "✍️ Agent Claude - Rédaction", "type": "main", "index": 0}]]
    },
    "✍️ Agent Claude - Rédaction": {
      "main": [[{"node": "💾 Capturer article", "type": "main", "index": 0}]]
    },
    "💾 Capturer article": {
      "main": [[{"node": "🏷️ Agent GPT - Hashtags", "type": "main", "index": 0}]]
    },
    "🏷️ Agent GPT - Hashtags": {
      "main": [[{"node": "📋 Préparer données finales", "type": "main", "index": 0}]]
    },
    "📋 Préparer données finales": {
      "main": [[{"node": "💾 Créer Article dans Notion", "type": "main", "index": 0}]]
    },
    "💾 Créer Article dans Notion": {
      "main": [[{"node": "✅ Marquer Idée Traitée", "type": "main", "index": 0}]]
    },
    "✅ Marquer Idée Traitée": {
      "main": [[{"node": "✨ Message de succès", "type": "main", "index": 0}]]
    },
    "Perplexity Model": {
      "ai_languageModel": [[{"node": "🔍 Agent Perplexity - Recherche", "type": "ai_languageModel", "index": 0}]]
    },
    "Claude Model": {
      "ai_languageModel": [[{"node": "✍️ Agent Claude - Rédaction", "type": "ai_languageModel", "index": 0}]]
    },
    "OpenAI Model": {
      "ai_languageModel": [[{"node": "🏷️ Agent GPT - Hashtags", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}