archives/versions-workflow/workflow-principal-v2.json
{
  "name": "hartran-linkedin-article-corrige",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "🚀 Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [256, 304]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "507bd4507b644b78b44d4ceeb809f1e0",
          "mode": "id"
        },
        "limit": 1,
        "filterType": "manual",
        "conditions": {
          "conditions": [
            {
              "field": "Traité",
              "condition": "equals",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "notion-get-ideas",
      "name": "📥 Récupérer Idée Non Traitée",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [480, 304],
      "credentials": {
        "notionApi": {
          "id": "aH0S5x4M973O80uj",
          "name": "Notion LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Effectue une recherche approfondie sur le sujet suivant pour un article LinkedIn professionnel:\n\nTitre: {{ $json.properties?.['Titre/Idée principale']?.title?.[0]?.plain_text || 'Sans titre' }}\n\nContexte et sources: {{ $json.properties?.['Sources/URLs']?.rich_text?.[0]?.plain_text || 'Non fourni' }}\n\nNotes personnelles: {{ $json.properties?.['Notes personnelles']?.rich_text?.[0]?.plain_text || 'Non fourni' }}\n\nRecherche les dernières actualités, statistiques, études de cas, et innovations sur ce sujet. Fournis des données concrètes et vérifiables.",
        "options": {
          "systemMessage": "Tu es un expert en recherche d'informations sur les sujets de web analyse et data analyse. Tu dois effectuer une recherche approfondie et fournir des informations actuelles, des statistiques, des tendances et des exemples concrets. Utilise tes capacités de recherche web pour trouver les informations les plus récentes et pertinentes."
        }
      },
      "id": "perplexity-agent",
      "name": "🔍 Agent Recherche Perplexity",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [704, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rédige un article LinkedIn professionnel basé sur les informations suivantes:\n\nSujet: {{ $('📥 Récupérer Idée Non Traitée').first().json.properties?.['Titre/Idée principale']?.title?.[0]?.plain_text || 'Sans titre' }}\n\nNotes personnelles: {{ $('📥 Récupérer Idée Non Traitée').first().json.properties?.['Notes personnelles']?.rich_text?.[0]?.plain_text || 'Non fourni' }}\n\nAngle personnel: {{ $('📥 Récupérer Idée Non Traitée').first().json.properties?.['Angle personnel']?.rich_text?.[0]?.plain_text || 'Non fourni' }}\n\nQuestions à adresser: {{ $('📥 Récupérer Idée Non Traitée').first().json.properties?.['Questions à adresser']?.rich_text?.[0]?.plain_text || 'Non fourni' }}\n\nRecherche effectuée:\n{{ $json.output }}\n\nConsignes:\n- Article de 800-1200 mots\n- Structure avec une accroche forte\n- Développement avec exemples concrets\n- Insights pratiques et actionnables\n- Conclusion avec appel à l'action\n- Ton professionnel mais accessible\n- Intègre l'angle défini dans les notes personnelles et questions si fourni",
        "options": {
          "systemMessage": "Tu es un expert en rédaction d'articles LinkedIn professionnels sur des sujets de web analyse et data analyse. Tu rédiges des articles engageants avec une structure claire et des insights pratiques. Tu adaptes ton angle éditorial en fonction des notes personnelles et questions fournies."
        }
      },
      "id": "claude-agent",
      "name": "✍️ Agent Rédaction Claude",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1056, 400]
    },
    {
      "parameters": {
        "model": "claude-3-opus-20240229",
        "options": {}
      },
      "id": "claude-model",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [992, 608],
      "credentials": {
        "anthropicApi": {
          "id": "Ylmsz8Ymq9adIJs0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Génère exactement 10 hashtags pertinents pour cet article LinkedIn:\n\n{{ $json.output }}\n\nRetourne uniquement les hashtags séparés par des espaces, sans numérotation ni autre texte. Mélange hashtags populaires et spécialisés dans le domaine de l'analytics et du data.",
        "options": {
          "systemMessage": "Tu es un expert en marketing LinkedIn. Tu génères des hashtags optimisés pour maximiser la visibilité des articles."
        }
      },
      "id": "openai-agent",
      "name": "🏷️ Agent Hashtags GPT",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1408, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1480, 624],
      "credentials": {
        "openAiApi": {
          "id": "W3z11iU8VRrweFEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparation des données pour la sauvegarde Notion - VERSION CORRIGÉE\n\n// D'abord, récupérer les données du nœud Notion\n// Le nœud getAll retourne un array, on prend le premier élément\nconst notionItem = $('📥 Récupérer Idée Non Traitée').first().json;\n\n// Vérifier si les données existent et extraire le titre avec gestion d'erreur\nlet titre = \"Sans titre\";\ntry {\n  if (notionItem?.properties?.['Titre/Idée principale']?.title?.[0]?.plain_text) {\n    titre = notionItem.properties['Titre/Idée principale'].title[0].plain_text;\n  } else if (notionItem?.properties?.['Titre/Idée principale']?.title?.[0]?.text?.content) {\n    titre = notionItem.properties['Titre/Idée principale'].title[0].text.content;\n  }\n} catch (e) {\n  console.log(\"Erreur lors de l'extraction du titre:\", e.message);\n}\n\n// Récupérer l'ID de l'idée\nconst ideaId = notionItem?.id || \"\";\n\n// Récupérer le contenu de l'article depuis Claude\nlet contenuArticle = \"\";\ntry {\n  contenuArticle = $('✍️ Agent Rédaction Claude').first().json.output || \"\";\n} catch (e) {\n  console.log(\"Erreur lors de la récupération du contenu Claude:\", e.message);\n}\n\n// Récupérer les hashtags depuis GPT\nlet hashtags = \"\";\ntry {\n  hashtags = $('🏷️ Agent Hashtags GPT').first().json.output || \"\";\n} catch (e) {\n  console.log(\"Erreur lors de la récupération des hashtags:\", e.message);\n}\n\n// Extraction des statistiques clés du contenu\nconst stats = contenuArticle.match(/\\d+[%€$]?|\\d+\\s*(millions?|milliards?|%)/gi) || [];\nconst statistiquesCles = stats.join(', ');\n\n// Compilation du post LinkedIn complet\nconst postLinkedInComplet = `${contenuArticle}\\n\\n${hashtags}`;\n\n// Limitation à 2000 caractères pour les rich_text\nconst contenuLimite = contenuArticle.substring(0, 2000);\nconst postLimite = postLinkedInComplet.substring(0, 2000);\n\n// Log pour débogage\nconsole.log(\"Données préparées:\");\nconsole.log(\"- Titre:\", titre);\nconsole.log(\"- ID de l'idée:\", ideaId);\nconsole.log(\"- Longueur contenu:\", contenuArticle.length);\nconsole.log(\"- Hashtags:\", hashtags);\nconsole.log(\"- Statistiques:\", statistiquesCles);\n\n// Retourner les données formatées\nreturn {\n  titre: titre,\n  contenuArticle: contenuLimite,\n  hashtags: hashtags,\n  postLinkedInComplet: postLimite,\n  statistiquesCles: statistiquesCles.substring(0, 2000),\n  ideaId: ideaId,\n  dateGeneration: new Date().toISOString()\n};"
      },
      "id": "prepare-data",
      "name": "📋 Préparer données finales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"parent\": {\n    \"database_id\": \"9b915f4f6bae479f9326ff2cfdabadd3\"\n  },\n  \"properties\": {\n    \"Titre\": {\n      \"title\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.titre }}\"\n          }\n        }\n      ]\n    },\n    \"Contenu article\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.contenuArticle }}\"\n          }\n        }\n      ]\n    },\n    \"Hashtags\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.hashtags }}\"\n          }\n        }\n      ]\n    },\n    \"Post LinkedIn complet\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.postLinkedInComplet }}\"\n          }\n        }\n      ]\n    },\n    \"Public cible\": {\n      \"select\": {\n        \"name\": \"Professionnels et décideurs\"\n      }\n    },\n    \"Statistiques clés\": {\n      \"rich_text\": [\n        {\n          \"text\": {\n            \"content\": \"{{ $json.statistiquesCles }}\"\n          }\n        }\n      ]\n    }\n  }\n}",
        "options": {}
      },
      "id": "notion-create-article",
      "name": "💾 Créer Article dans Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2016, 400],
      "credentials": {
        "notionApi": {
          "id": "aH0S5x4M973O80uj",
          "name": "Notion LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraction des données de l'article créé\nreturn {\n  articleId: $json.id,\n  articleUrl: $json.url,\n  createdTime: $json.created_time,\n  titre: $json.properties?.Titre?.title?.[0]?.text?.content || \"Sans titre\",\n  ideaId: $('📋 Préparer données finales').first().json.ideaId\n};"
      },
      "id": "extract-article-data",
      "name": "📊 Extraire données article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2272, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ `https://api.notion.com/v1/pages/${$('📥 Récupérer Idée Non Traitée').first().json.id}` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Traité\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "id": "notion-update-idea",
      "name": "✅ Marquer Idée Traitée",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2528, 400],
      "credentials": {
        "notionApi": {
          "id": "aH0S5x4M973O80uj",
          "name": "Notion LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=✅ Article LinkedIn généré avec succès!\n\n📝 Titre: {{ $('📊 Extraire données article').first().json.titre }}\n📄 Article ID: {{ $('📊 Extraire données article').first().json.articleId }}\n🔗 URL Notion: {{ $('📊 Extraire données article').first().json.articleUrl }}\n⏰ Créé le: {{ $('📊 Extraire données article').first().json.createdTime }}\n\n✔️ L'idée a été marquée comme traitée."
            }
          ]
        },
        "options": {}
      },
      "id": "success-message",
      "name": "✨ Message de succès",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2784, 400]
    },
    {
      "parameters": {
        "model": "perplexity/sonar-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [640, 576],
      "id": "8455064c-cbd7-4f0d-8da7-284d0cd6b3ed",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xLdMbYh4lyLsgJJA",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🚀 Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "📥 Récupérer Idée Non Traitée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Récupérer Idée Non Traitée": {
      "main": [
        [
          {
            "node": "🔍 Agent Recherche Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Agent Recherche Perplexity": {
      "main": [
        [
          {
            "node": "✍️ Agent Rédaction Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Agent Rédaction Claude": {
      "main": [
        [
          {
            "node": "🏷️ Agent Hashtags GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "✍️ Agent Rédaction Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ Agent Hashtags GPT": {
      "main": [
        [
          {
            "node": "📋 Préparer données finales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Préparer données finales": {
      "main": [
        [
          {
            "node": "💾 Créer Article dans Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Créer Article dans Notion": {
      "main": [
        [
          {
            "node": "📊 Extraire données article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Extraire données article": {
      "main": [
        [
          {
            "node": "✅ Marquer Idée Traitée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Marquer Idée Traitée": {
      "main": [
        [
          {
            "node": "✨ Message de succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "🏷️ Agent Hashtags GPT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Agent Recherche Perplexity",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "corrige-v1",
  "meta": {
    "instanceId": "403566a9aee191faa03a05967266a85d00d44980ffb18ca114571275711151b4"
  },
  "id": "8fRjPcH3dc54VPPX",
  "tags": []
}
