archives/versions-workflow/workflow-corrige.json
{
  "name": "hartran-linkedin-article-corrige",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "🚀 Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [256, 304]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "507bd4507b644b78b44d4ceeb809f1e0",
          "mode": "id"
        },
        "limit": 1,
        "filterType": "manual",
        "options": {}
      },
      "id": "notion-get-ideas",
      "name": "📥 Récupérer Idée Non Traitée",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [480, 304],
      "credentials": {
        "notionApi": {
          "id": "aH0S5x4M973O80uj",
          "name": "Notion LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparer et déboguer les données de l'idée Notion\nconst notionItem = $json;\n\nconsole.log('=== DONNÉES REÇUES DE NOTION ===');\nconsole.log(JSON.stringify(notionItem, null, 2));\n\n// Extraire les données importantes\nlet titre = 'Article sur la web analyse et data';\nlet sources = '';\nlet notes = '';\nlet angle = '';\nlet questions = '';\nlet pourquoi = '';\nlet stats = '';\nlet citations = '';\n\n// Essayer différentes façons d'accéder aux propriétés\nif (notionItem?.properties) {\n  // Titre\n  titre = notionItem.properties?.title?.[0]?.plain_text || \n          notionItem.properties?.['Titre/Idée principale']?.title?.[0]?.plain_text ||\n          notionItem.properties?.Name?.title?.[0]?.plain_text ||\n          'Article sur la web analyse et data';\n  \n  // Sources\n  sources = notionItem.properties?.['Sources/URLs']?.rich_text?.[0]?.plain_text || '';\n  \n  // Notes personnelles\n  notes = notionItem.properties?.['Notes personnelles']?.rich_text?.[0]?.plain_text || '';\n  \n  // Angle personnel\n  angle = notionItem.properties?.['Angle personnel']?.rich_text?.[0]?.plain_text || '';\n  \n  // Questions\n  questions = notionItem.properties?.['Questions à adresser']?.rich_text?.[0]?.plain_text || '';\n  \n  // Pourquoi maintenant\n  pourquoi = notionItem.properties?.['Pourquoi maintenant?']?.rich_text?.[0]?.plain_text || '';\n  \n  // Statistiques\n  stats = notionItem.properties?.['Data/Statistiques']?.rich_text?.[0]?.plain_text || '';\n  \n  // Citations\n  citations = notionItem.properties?.['Citations clés']?.rich_text?.[0]?.plain_text || '';\n}\n\nconsole.log('=== DONNÉES EXTRAITES ===');\nconsole.log('Titre:', titre);\nconsole.log('Sources:', sources);\nconsole.log('Notes:', notes);\nconsole.log('Angle:', angle);\nconsole.log('Questions:', questions);\n\n// Retourner toutes les données + les données formatées\nreturn {\n  ...notionItem,\n  extracted: {\n    titre,\n    sources,\n    notes,\n    angle,\n    questions,\n    pourquoi,\n    stats,\n    citations\n  }\n};"
      },
      "id": "prepare-notion-data",
      "name": "🔍 Préparer données idée",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 304]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Effectue une recherche approfondie sur le sujet suivant pour un article LinkedIn professionnel:\n\nTitre: {{ $json.extracted?.titre || 'Article sur la web analyse et data' }}\n\nContexte et sources: {{ $json.extracted?.sources || 'Non fourni' }}\n\nNotes personnelles: {{ $json.extracted?.notes || 'Expert en web analyse et data analyse' }}\n\nAngle personnel: {{ $json.extracted?.angle || '' }}\n\nQuestions à adresser: {{ $json.extracted?.questions || '' }}\n\nPourquoi maintenant: {{ $json.extracted?.pourquoi || '' }}\n\nData/Statistiques: {{ $json.extracted?.stats || '' }}\n\nCitations clés: {{ $json.extracted?.citations || '' }}\n\nIMPORTANT: Le sujet est RÉEL et concret. Effectue une recherche approfondie sur ce sujet précis. Ne dis pas qu'il manque des informations.\n\nRecherche les dernières actualités, statistiques, études de cas, et innovations sur ce sujet. Fournis des données concrètes et vérifiables.",
        "options": {
          "systemMessage": "Tu es un expert en recherche d'informations sur les sujets de web analyse et data analyse. Tu dois effectuer une recherche approfondie et fournir des informations actuelles, des statistiques, des tendances et des exemples concrets. Utilise tes capacités de recherche web pour trouver les informations les plus récentes et pertinentes."
        }
      },
      "id": "perplexity-agent",
      "name": "🔍 Agent Recherche Perplexity",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [704, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rédige un article LinkedIn professionnel de 800-1200 mots basé sur les informations suivantes:\n\nSujet principal: {{ $('🔍 Préparer données idée').first().json.extracted?.titre || 'Article sur la web analyse et data' }}\n\nNotes personnelles: {{ $('🔍 Préparer données idée').first().json.extracted?.notes || '' }}\n\nAngle personnel: {{ $('🔍 Préparer données idée').first().json.extracted?.angle || '' }}\n\nQuestions à adresser: {{ $('🔍 Préparer données idée').first().json.extracted?.questions || '' }}\n\nPourquoi maintenant: {{ $('🔍 Préparer données idée').first().json.extracted?.pourquoi || '' }}\n\nData/Statistiques à intégrer: {{ $('🔍 Préparer données idée').first().json.extracted?.stats || '' }}\n\nCitations clés: {{ $('🔍 Préparer données idée').first().json.extracted?.citations || '' }}\n\nRecherche effectuée:\n{{ $json.output }}\n\nIMPORTANT: Tu DOIS rédiger un article complet sur le sujet donné. Ne dis JAMAIS qu'il manque des informations. Utilise toutes les données fournies pour créer un article pertinent et engageant.\n\nConsignes:\n- Article de 800-1200 mots COMPLET (pas de message d'erreur)\n- Structure avec une accroche forte sur le sujet donné\n- Développement avec exemples concrets tirés de la recherche\n- Insights pratiques et actionnables\n- Conclusion avec appel à l'action\n- Ton professionnel mais accessible\n- Intègre TOUS les éléments fournis (angle personnel, questions, statistiques, citations)\n- Le sujet est TOUJOURS lié à la web analyse, data analyse ou l'IA\n\nNE JAMAIS répondre qu'il manque des informations. TOUJOURS créer un article complet.",
        "options": {
          "systemMessage": "Tu es un expert en rédaction d'articles LinkedIn professionnels sur des sujets de web analyse et data analyse. Tu rédiges des articles engageants avec une structure claire et des insights pratiques. Tu adaptes ton angle éditorial en fonction des notes personnelles et questions fournies."
        }
      },
      "id": "claude-agent",
      "name": "✍️ Agent Rédaction Claude",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1056, 400]
    },
    {
      "parameters": {
        "model": "claude-3-opus-20240229",
        "options": {}
      },
      "id": "claude-model",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [992, 608],
      "credentials": {
        "anthropicApi": {
          "id": "Ylmsz8Ymq9adIJs0",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Génère exactement 10 hashtags pertinents pour cet article LinkedIn:\n\n{{ $json.output }}\n\nRetourne uniquement les hashtags séparés par des espaces, sans numérotation ni autre texte. Mélange hashtags populaires et spécialisés dans le domaine de l'analytics et du data.",
        "options": {
          "systemMessage": "Tu es un expert en marketing LinkedIn. Tu génères des hashtags optimisés pour maximiser la visibilité des articles."
        }
      },
      "id": "openai-agent",
      "name": "🏷️ Agent Hashtags GPT",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [1408, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "options": {}
      },
      "id": "openai-model",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1480, 624],
      "credentials": {
        "openAiApi": {
          "id": "W3z11iU8VRrweFEt",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Préparation des données pour la sauvegarde Notion - VERSION CORRIGÉE\n\n// D'abord, récupérer les données du nœud Notion\n// Le nœud getAll retourne un array, on prend le premier élément\nconst notionItem = $('📥 Récupérer Idée Non Traitée').first().json;\n\n// DEBUG : Afficher la structure pour comprendre\nconsole.log('=== STRUCTURE NOTION ITEM ===');\nconsole.log('Clés disponibles:', Object.keys(notionItem || {}));\nif (notionItem?.properties) {\n  console.log('Propriétés disponibles:', Object.keys(notionItem.properties));\n}\n\n// Vérifier si les données existent et extraire le titre avec gestion d'erreur\nlet titre = \"Sans titre\";\ntry {\n  // Essayer différentes façons d'accéder au titre\n  if (notionItem?.properties?.title) {\n    // Si c'est une propriété title standard\n    titre = notionItem.properties.title[0]?.plain_text || notionItem.properties.title[0]?.text?.content || \"Sans titre\";\n  } else if (notionItem?.properties?.['Titre/Idée principale']) {\n    // Si c'est avec le nom complet\n    titre = notionItem.properties['Titre/Idée principale'].title[0]?.plain_text || \n            notionItem.properties['Titre/Idée principale'].title[0]?.text?.content || \"Sans titre\";\n  } else if (notionItem?.properties?.Name) {\n    // Ou si c'est Name\n    titre = notionItem.properties.Name.title[0]?.plain_text || \"Sans titre\";\n  }\n} catch (e) {\n  console.log(\"Erreur lors de l'extraction du titre:\", e.message);\n}\n\nconsole.log('Titre extrait:', titre);\n\n// Récupérer l'ID de l'idée\nconst ideaId = notionItem?.id || \"\";\n\n// Récupérer le contenu de l'article depuis Claude\nlet contenuArticle = \"\";\ntry {\n  contenuArticle = $('✍️ Agent Rédaction Claude').first().json.output || \"\";\n} catch (e) {\n  console.log(\"Erreur lors de la récupération du contenu Claude:\", e.message);\n}\n\n// Récupérer les hashtags depuis GPT\nlet hashtags = \"\";\ntry {\n  hashtags = $('🏷️ Agent Hashtags GPT').first().json.output || \"\";\n} catch (e) {\n  console.log(\"Erreur lors de la récupération des hashtags:\", e.message);\n}\n\n// Extraction des statistiques clés du contenu\nconst stats = contenuArticle.match(/\\d+[%€$]?|\\d+\\s*(millions?|milliards?|%)/gi) || [];\nconst statistiquesCles = stats.join(', ');\n\n// Compilation du post LinkedIn complet\nconst postLinkedInComplet = `${contenuArticle}\\n\\n${hashtags}`;\n\n// Limitation à 2000 caractères pour les rich_text\nconst contenuLimite = contenuArticle.substring(0, 2000);\nconst postLimite = postLinkedInComplet.substring(0, 2000);\n\n// Log pour débogage\nconsole.log(\"Données préparées:\");\nconsole.log(\"- Titre:\", titre);\nconsole.log(\"- ID de l'idée:\", ideaId);\nconsole.log(\"- Longueur contenu:\", contenuArticle.length);\nconsole.log(\"- Hashtags:\", hashtags);\nconsole.log(\"- Statistiques:\", statistiquesCles);\n\n// Retourner les données formatées\nreturn {\n  titre: titre,\n  contenuArticle: contenuLimite,\n  hashtags: hashtags,\n  postLinkedInComplet: postLimite,\n  statistiquesCles: statistiquesCles.substring(0, 2000),\n  ideaId: ideaId,\n  dateGeneration: new Date().toISOString()\n};"
      },
      "id": "prepare-data",
      "name": "📋 Préparer données finales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 400]
    },
    {
      "parameters": {
        "jsCode": "// Préparation du JSON pour l'API Notion\nconst notionPayload = {\n  parent: {\n    database_id: \"9b915f4f6bae479f9326ff2cfdabadd3\"\n  },\n  properties: {\n    \"Titre\": {\n      title: [\n        {\n          text: {\n            content: $json.titre || \"Sans titre\"\n          }\n        }\n      ]\n    },\n    \"Contenu article\": {\n      rich_text: [\n        {\n          text: {\n            content: $json.contenuArticle || \"\"\n          }\n        }\n      ]\n    },\n    \"Hashtags\": {\n      rich_text: [\n        {\n          text: {\n            content: $json.hashtags || \"\"\n          }\n        }\n      ]\n    },\n    \"Post LinkedIn complet\": {\n      rich_text: [\n        {\n          text: {\n            content: $json.postLinkedInComplet || \"\"\n          }\n        }\n      ]\n    },\n    \"Public cible\": {\n      select: {\n        name: \"Professionnels et décideurs\"\n      }\n    },\n    \"Statistiques clés\": {\n      rich_text: [\n        {\n          text: {\n            content: $json.statistiquesCles || \"\"\n          }\n        }\n      ]\n    }\n  }\n};\n\n// Retourner le payload avec toutes les autres données\nreturn {\n  ...($json || {}),\n  notionPayload: notionPayload\n};"
      },
      "id": "prepare-notion-payload",
      "name": "🔧 Préparer payload Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.notionPayload }}",
        "options": {}
      },
      "id": "notion-create-article",
      "name": "💾 Créer Article dans Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2100, 400],
      "credentials": {
        "notionApi": {
          "id": "aH0S5x4M973O80uj",
          "name": "Notion LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraction des données de l'article créé\nreturn {\n  articleId: $json.id,\n  articleUrl: $json.url,\n  createdTime: $json.created_time,\n  titre: $json.properties?.Titre?.title?.[0]?.text?.content || \"Sans titre\",\n  ideaId: $('📋 Préparer données finales').first().json.ideaId\n};"
      },
      "id": "extract-article-data",
      "name": "📊 Extraire données article",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2272, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ `https://api.notion.com/v1/pages/${$('📥 Récupérer Idée Non Traitée').first().json.id}` }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"Traité\": {\n      \"checkbox\": true\n    }\n  }\n}",
        "options": {}
      },
      "id": "notion-update-idea",
      "name": "✅ Marquer Idée Traitée",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2528, 400],
      "credentials": {
        "notionApi": {
          "id": "aH0S5x4M973O80uj",
          "name": "Notion LinkedIn"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=✅ Article LinkedIn généré avec succès!\n\n📝 Titre: {{ $('📊 Extraire données article').first().json.titre }}\n📄 Article ID: {{ $('📊 Extraire données article').first().json.articleId }}\n🔗 URL Notion: {{ $('📊 Extraire données article').first().json.articleUrl }}\n⏰ Créé le: {{ $('📊 Extraire données article').first().json.createdTime }}\n\n✔️ L'idée a été marquée comme traitée."
            }
          ]
        },
        "options": {}
      },
      "id": "success-message",
      "name": "✨ Message de succès",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [2784, 400]
    },
    {
      "parameters": {
        "model": "perplexity/sonar-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [640, 576],
      "id": "8455064c-cbd7-4f0d-8da7-284d0cd6b3ed",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xLdMbYh4lyLsgJJA",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "🚀 Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "📥 Récupérer Idée Non Traitée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Récupérer Idée Non Traitée": {
      "main": [
        [
          {
            "node": "🔍 Préparer données idée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Préparer données idée": {
      "main": [
        [
          {
            "node": "🔍 Agent Recherche Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Agent Recherche Perplexity": {
      "main": [
        [
          {
            "node": "✍️ Agent Rédaction Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Agent Rédaction Claude": {
      "main": [
        [
          {
            "node": "🏷️ Agent Hashtags GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "✍️ Agent Rédaction Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🏷️ Agent Hashtags GPT": {
      "main": [
        [
          {
            "node": "📋 Préparer données finales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Préparer données finales": {
      "main": [
        [
          {
            "node": "🔧 Préparer payload Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Préparer payload Notion": {
      "main": [
        [
          {
            "node": "💾 Créer Article dans Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Créer Article dans Notion": {
      "main": [
        [
          {
            "node": "📊 Extraire données article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Extraire données article": {
      "main": [
        [
          {
            "node": "✅ Marquer Idée Traitée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Marquer Idée Traitée": {
      "main": [
        [
          {
            "node": "✨ Message de succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "🏷️ Agent Hashtags GPT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🔍 Agent Recherche Perplexity",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "corrige-v1",
  "meta": {
    "instanceId": "403566a9aee191faa03a05967266a85d00d44980ffb18ca114571275711151b4"
  },
  "id": "8fRjPcH3dc54VPPX",
  "tags": []
}
